body {
  background: #465369;
  /* font-family: sans-serif; */
  /* font-family: system-ui; */
  color: white;
}

.trail {
  /* className for the trail elements */
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background: teal;
}
